@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack*/


/*------------GLOBAL--------------*/
html {
	width: 100%;
	height: 100%;
}
* {
	padding: 0;
	margin: 0;
	outline: 0 none;
}
body {
	font-family: 'Open Sans', sans-serif, Arial;
	font-weight: 400;
	color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #507cbe;
	text-decoration:none;
}
.wrapper {
	position: relative;
	width: 100%;
	display: block;
	clear: both;
}	

h1, h2, h3, h4, h5 {
	font-size:35px;
	line-height:125%;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
}

/*------------PAGE CONTENT--------------*/

#main_bg_img{
	background:url(images/bannerimage.jpg) no-repeat center center;
	min-height:590px;
	display:block;
	background-size:cover;
}
.inner-text{
	padding:3% 0 0 10%;
	width:780px;
}
.inner-text h2{
	font-weight:700;
	font-style:italic;
	margin:20px 0 25px;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.inner-text p{
	font-size:20px;
	line-height:30px;
	font-weight:400;
	font-family: 'Lato', sans-serif;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
	margin-bottom:25px;
}
.product{
	width:200px;
	float:left;
	display:block;
	    padding: 0 5px 0 0;
}
.product h3{
	font-size:16px;
	line-height:20px;
	color:#ffcb08;
	font-weight:bold;
	font-style:italic;
	margin-bottom:10px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.product a{
	font-size:13px;
	line-height:22px;
	font-style:italic;
	color:#ffffff;
	display:block;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.product a:hover{
	color:#ffcb08;
	transition:all 0.5s;
}
.product address{
	font-size:13px;
	line-height:22px;
	font-style:italic;
	color:#ffffff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.product span{
	color:#ffcb08;
}
.contact span{
	width:60px;
	color:#ffcb08;
	font-size:13px;
	line-height:22px;
	font-style:italic;
	display:inline-block;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.contact{
	padding-top:45px;
}
.contact  a{
	font-size:13px;
	line-height:22px;
	font-style:italic;
	color:#ffffff;
	display:inline-block;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.contact  a:hover{
	color:#ffcb08;
	transition:all 0.5s;
}
footer p{
	color:#aeaeae;
	font-size:13px;
	line-height:20px;
	font-weight:300;
	font-style:italic;
	margin:40px 0 0 10%;
}
	
		
	